name: CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - name: Recuperation du code
      uses: actions/checkout@v3

    - name: Installation Node
      uses: actions/setup-node@v3
      with:
        node-version: '20'

    - name: Installation des dependances
      run: npm ci

    - name: Lancement des tests
      run: npm test